@page "/countries/edit/{id:int}"
@inject IRepository repository
@inject INativeDialogService dialogService
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

<h3>Editar País</h3>

@if (country is null)
{
	<div class="spinner" />
}
else
{
	<CountryForm @ref="countryForm" Country="country" OnValidSubmit="EditAsync" ReturnAction="Return"/>
}
@code {
	private Country? country;
	private CountryForm? countryForm;

	[Parameter]
	public int Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var responseHttp = await repository.Get<Country>($"/api/countries/{Id}");
		if (responseHttp.Error)
		{
			var message = await responseHttp.GetErrorMessageAsync();
			if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
			{

				await dialogService.ShowAlertAsync("Error", "País no encontrado", "Aceptar");
				navigationManager.NavigateTo("/countries");
				return;
			}

			await dialogService.ShowAlertAsync("Error", message ?? "Otro error no controlado", "Aceptar");
			return;
		}
		country = responseHttp.Response;
	}

	private async Task EditAsync()
	{
		var responseHttp = await repository.Put<Country>($"/api/countries/", country!);
		if (responseHttp.Error)
		{
			var message = await responseHttp.GetErrorMessageAsync();
			await dialogService.ShowAlertAsync("Error", message ?? "Ocurrió un error desconocido", "Aceptar");
			return;
		}
		await dialogService.ShowToastAsync("País editado con éxito", ToastType.Success);
		Return();
	}
	private void Return()
	{
		countryForm!.FormPostedSuccessfully = true;
		navigationManager.NavigateTo("/countries");
	}
}
