<div class="mb-3">
    <label class="form-label">@Label</label>
    <div class="border rounded p-3 bg-white">
        <InputFile OnChange="OnChange" accept=".jpg,.jpeg,.png" class="form-control mb-3" />

        @if (!string.IsNullOrWhiteSpace(imageBase64))
        {
            <img src=@($"data:image/jpeg;base64,{imageBase64}") class="responsive-img-small d-block mx-auto" />
        }
        else if (!string.IsNullOrWhiteSpace(ImageURL))
        {
            <img src="@ImageURL" class="responsive-img-small d-block mx-auto" />
        }
    </div>
</div>


@code {
    [Parameter] public string Label { get; set; } = "Imagen";
    [Parameter] public string? ImageURL { get; set; }
    [Parameter] public EventCallback<string> ImageSelected { get; set; }
    private string? imageBase64;

    async Task OnChange(InputFileChangeEventArgs e)
    {
        var imagenes = e.GetMultipleFiles();

        foreach (var imagen in imagenes)
        {
            var arrBytes = new byte[imagen.Size];
            await imagen.OpenReadStream().ReadAsync(arrBytes);
            imageBase64 = Convert.ToBase64String(arrBytes);
            ImageURL = null;
            await ImageSelected.InvokeAsync(imageBase64);
            StateHasChanged();
        }
    }
}

